body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
}

header {
  text-align: center;
  padding: 1rem 0;
}

button {
  border: none;
  transition: font-size 0.3s ease;
  background-color: #f7f7f7;
}

button:hover {
  font-size: 1.2em;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.content {
  padding: 2rem;
  display: none;
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease, opacity 0.5s ease; /* Добавлена анимация opacity */
}

.content.active {
  display: block;
  height: auto;
}

.content p,
.content h2 {
  opacity: 0; /* Устанавливаем начальное значение прозрачности */
  transition: opacity 0.5s ease; /* Добавляем анимацию opacity */
}

.content.active p,
.content.active h2 {
  opacity: 1; /* Устанавливаем конечное значение прозрачности */
}

#insta-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  padding: 0;
}

#insta-button img {

  width: 30px; /* Adjust as needed */
  height: 23px; /* Adjust as needed */
}
/* Add styles for Instagram button */
.instagram-button {
  position: relative;
  top: 80px;
  left: -20px;
  background: none;
  border: none;
  padding: 0;
}

.instagram-button img {
  width: 31px; /* Adjust as needed */
  height: 21px; /* Adjust as needed */
}


.card {
  margin: 20px;
  padding: 10px;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0000004d;
  display: flex;
  flex-direction: column;
  height: 18rem;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  transition: box-shadow .3s ease-in-out;
  width: 14rem;
}

.card img,
.card video {
  /*margin-top: 10%;*/
  max-width: 90%; /* Максимальная ширина изображения/видео будет равна ширине карточки */
  max-height: 90%; /* Максимальная высота изображения/видео будет равна высоте карточки */
}

.open-card-button {
  position: absolute;
  top: 474px;
  left: 160px;
  background: none;
  border: none;
  padding: 0;

}

.open-card-button img {
  width: 25px;
  height: 25px;
}

/* Стили для описания карточки */
.card-details {
  position: fixed; /* Фиксированное положение для показа поверх остального контента */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2; /* Отобразить поверх всего */
  display: none; /* Скрыть по умолчанию */
}

.card-details img {
  max-width: 300px; /* Максимальная ширина изображения */
}

.card-details p {
  margin-top: 10px;
}


.image-square {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #f7f7f7;
}

footer a {
  text-decoration: none;
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
